<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    

    <title>100 Days Coding</title>

    <link rel="stylesheet" type="text/css" href="CSS/index.css">


</head>
        <h1 align="center">100 Days Coding</h1>

<div class="div_customs">

    <body>

        <p><a href="1_All_Text_in_Caps/index_day_1.html">Day 1 - All Text in Caps</a></p>
        
        <p><a href="2_character_counter/index_day_2.html">Day 2 - Character Counter</a></p>


        <script type="text/javascript" src="JS/index.js"></script>

    </body>

</div>
    <footer> <p align="center" id="all_rights_reserved">Geraldo Nogueira / Training - All Rights Reserved</p></footer> 
</html>
